/.idea/*
/ReutersRetrieval/.idea/*
/ReutersRetrieval/out/*
/ReutersRetrieval.iml

/ReutersRetrieval/nbproject/*
/ReutersRetrieval/build/*
/ReutersRetrieval/build.xml
/ReutersRetrieval/manifest.mf

*.swp